<html layout:decorate="~{layouts/main-layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Danh mục món - Quản lý</title>
</head>
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Thùng rác món ăn</h2>
        <a class="btn btn-outline-primary" th:href="@{/manager/menu_category}">
            <i class="bi bi-arrow-left-circle"></i> Quay lại danh sách
        </a>
    </div>

    <div th:if="${menuCategories.content.size() == 0}" class="alert alert-info text-center">
        Hiện không có loại món nào trong thùng rác.
    </div>

    <table th:if="${menuCategories.content.size() > 0}"
           class="table table-hover table-striped shadow-sm rounded bg-white">
        <thead class="table-dark text-center">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Hành động</th>

        </tr>
        </thead>
        <tbody class="align-middle text-center">
        <tr th:each="menuCategory, status : ${menuCategories}">
            <td th:text="${status.count}"></td>
            <td th:text="${menuCategory.name}"></td>

            <td>
                <form th:action="@{/manager/menu_category/{id}/restore(id=${menuCategory.id})}" method="post"
                      class="d-inline">
                    <button type="submit" class="btn btn-outline-success btn-sm me-1"
                            title="Khôi phục"
                            th:attr="data-bs-title='Khôi phục danh mục ' + ${menuCategory.name}"
                    >
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </button>
                </form>
                <button type="button"
                        class="btn btn-outline-danger btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        title="Xoá vĩnh viễn"
                        th:attr="data-id=${menuCategory.id}, data-title=${menuCategory.name}, data-bs-title='Xóa vĩnh viễn danh mục ' + ${menuCategory.name}">
                    <i class="bi bi-trash3"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<th:block layout:fragment="modal">
    <div th:replace="~{fragments/shared/delete_modal :: deleteModal ('danh mục món')}"></div>
</th:block>

<th:block layout:fragment="script">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const id = button.getAttribute('data-id');
                const title = button.getAttribute('data-title');
                deleteModal.querySelector('#modalTitle').textContent = title;
                deleteModal.querySelector('#deleteForm').setAttribute('action', '/manager/menu_category/' + id + '/destroy');
            });
        });
    </script>
</th:block>
</html>



